#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        encoder_volume: encoder_volume {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DOWN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp B &kp C &kp D
                &kp E &kp F &kp G &kp H
                &kp I &kp J &kp K &kp L
                &kp M &kp N &kp O &kp P
            >;

            sensor-bindings = <&encoder_volume>;
        };
    };
};
